.subnav
	.subnav-content(layout="row" layout-xs="column" layout-align="space-around center")
		.mail(hide-xs hide-sm)
			md-icon mail_outline
			h3 German@reyesreyesabogados.com
		.telefono
			md-icon call
			h3 55 18 75 78 08
		.ubicacion(hide-xs hide-sm)
			md-icon place
			h3 Torre WTC #244, DF, México
.nav(layout="row"  layout-align="center center" ng-class="{ 'negro' : $state.is('servicios') ||  $state.is('nosotros') || $state.is('servicio') } " )
	.nav-content(flex="70" flex-xs="90" flex-sm="90" layout="row" layout-align="space-between center")
		.logo
			md-icon(md-svg-icon="img/logo.svg" ui-sref="home" ng-init="hover = false"  ng-mouseover="hover = true" ng-mouseleave="hover = false"  ng-class="hover ? 'conHover' : 'sinHover'")
			h1(hide-xs hide-sm) Reyes Reyes Abodagos
		.button-content(layout="row")
			md-button(ui-sref="servicios" ui-sref-active="active") Servicios
			md-button(ui-sref="nosotros" ui-sref-active="active") Nosotros
