azul = #0B2347
obsbure = #373435
cafe = #5d4329
cafeclaro = #deb887
grisclaro = #e6e6e6

transparent = rgba(255, 255, 255 0)

mobile = "(max-width: 600px)"
compu = "(min-width: 600px)"

ui-gmap-google-map
    height 100%
    width 400px
    .angular-google-map
        width 100%
        height 400px
        .angular-google-map-container
            height 400px
            width 100%

transition(duracion, delay)
    -webkit-transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
    transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
    -webkit-transition-delay delay ease-in-out
    transition-delay delay ease-in-out

animation(animation, duration = 1s)
    -webkit-animation animation duration cubic-bezier(0.445, 0.050, 0.550, 0.950)
    animation animation duration cubic-bezier(0.445, 0.050, 0.550, 0.950)
    -webkit-transition all duration ease-in-out
    -moz-transition all duration ease-in-out
    -o-transition all duration ease-in-out
    transition all duration ease-in-out

.ng-hide-add.ng-hide-add-active
    animation(fadeOut, 500ms)

.ng-hide-remove.ng-hide-remove-active
    animation(fadeIn, 500ms)

.page
    &.ng-enter
        animation bounceInUp
    &.ng-leave
        animation fadeOut

main
    position relative


header
    position fixed
    z-index 100
    width 100%
    .subnav
        background-color black
        div
            display flex
            h3
                color white
                font-size 13px
            md-icon
                color cafeclaro
                margin-right 5px
    .negro
        .nav-content
            .logo
                md-icon
                    color black !important
                h1
                    color black !important
            .md-button
                margin auto
                color black !important
            .button-content
                color black !important

    .nav
        background-color transparent
        border-bottom 1px solid grisclaro
        margin 0px
        width 100%
        padding 5px 0
        .nav-content
            .logo
                display flex
                md-icon
                    @media compu
                        height 70px
                        width 70px
                    @media mobile
                        height 40px
                        width 40px
                    margin inherit
                    color white
                    cursor pointer
                    &.conHover
                        transform scale(.9)
                        transition(300ms, 0)
                h1
                    @media mobile
                        margin-left 27px
                        text-align center
                        font-size 20px
                    margin-right 10px
                    color white
            .button-content
                @media compu
                    height 100px
                @media mobile
                    height 44px
                display flex
                .md-button
                    margin auto
                    color white
                    &.active
                        background-color white
                        color black

.mp
    @media compu
        margin-top 150px
    @media mobile
        margin-top 100px

.principal
    background-position center
    background-size cover
    background-repeat no-repeat
    transition(500ms, 0)

.servicios
    .servicios-content
        md-grid-list
            margin-top 50px
            md-grid-tile
                cursor pointer
                transition(500ms, 0)
                &.sinHover
                    background-color cafeclaro
                &.conHover
                    background-color cafe
                    transform scale(.9)
                md-icon
                    color white
                    height 60px
                    width 60px
                md-grid-tile-footer
                    h2
                        margin-left 30px


.home
    min-height calc(100vh - 270px)
    section.main
        @media mobile
            padding 100px 0 50px 0
        md-card
            margin 20px 0
        padding 200px 0
        background-size cover
        background-repeat no-repeat
        h1
            color white
        .topicos-container
            width 100%
            md-card
                width 100%
                background-color rgba(255, 255, 255 .8)
                md-list
                    padding 0px
                    md-list-item
                        cursor pointer
                        @media compu
                            min-height 70px
                        @media mobile
                            min-height 100px
                        .md-button
                            @media compu
                                min-height 70px
                            @media mobile
                                min-height 100px
                            padding-left 16px !important
                            padding 0px
                            margin 0px
                            strong
                                line-height 16px
                        &.conHover
                            background-color white
                            transition(200ms, 0)
                        padding-right 0px
                        .md-secondary-container
                            .icon
                                @media compu
                                    min-height 70px
                                @media mobile
                                    min-height 100px
                                width 70px
                                margin 0px
                                padding 0px
                                border-radius 0px
                                display flex
                                background-color cafeclaro
                                md-icon
                                    margin auto
        .prospecto-content
            h3
                text-align center
            form
                margin 0px
                .md-button
                    margin 0px
                    border-radius 0px
                    background-color cafeclaro
    section.info
        background-color cafeclaro
        text-align center
        .content
            @media compu
                margin 50px 0
            @media mobile
                margin 10px 0
            color white
            .valor
                min-height 125px

    section.slogan
        padding 50px 0
        .content
            .foto
                display flex
                img
                    margin auto
                    height 100px !important
                    width 100px !important
            .parrafo
                padding 15px
                p
                    text-align justify


.servicio
    .servicio-content
        h1
            color black
        md-list
            md-list-item
                @media mobile
                    padding 2px
                md-icon
                    @media compu
                        margin 0 50px !important
                    @media mobile
                        margin 2px
                    background-color cafeclaro
.nosotros
    md-icon
        background-color black
    .mapa
        min-height 350px
        @media mobile
            ui-gmap-google-map
                height 100%
                width 400px
                .angular-google-map
                    width 100%
                    height 400px
                    .angular-google-map-container
                        height 250px
                        width 100%


.paginacion
    width 100%
    .first, .last
        background-color cafeclaro
        md-icon
            color white
    .previous, .next
        background-color cafe
    .md-button
        padding 0px
        margin 0px
        border-radius 0px
