ui-gmap-google-map {
  height: 100%;
  width: 400px;
}
ui-gmap-google-map .angular-google-map {
  width: 100%;
  height: 400px;
}
ui-gmap-google-map .angular-google-map .angular-google-map-container {
  height: 400px;
  width: 100%;
}
.ng-hide-add.ng-hide-add-active {
  -webkit-animation: fadeOut 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: fadeOut 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 500ms ease-in-out;
  transition-delay: 500ms ease-in-out;
}
.ng-hide-remove.ng-hide-remove-active {
  -webkit-animation: fadeIn 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: fadeIn 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 500ms ease-in-out;
  transition-delay: 500ms ease-in-out;
}
.page.ng-enter {
  -webkit-animation: bounceInUp 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: bounceInUp 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 1s ease-in-out;
  transition-delay: 1s ease-in-out;
}
.page.ng-leave {
  -webkit-animation: fadeOut 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: fadeOut 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 1s ease-in-out;
  transition-delay: 1s ease-in-out;
}
main {
  position: relative;
}
header {
  position: fixed;
  z-index: 100;
  width: 100%;
}
header .subnav {
  background-color: #000;
}
header .subnav div {
  display: flex;
}
header .subnav div h3 {
  color: #fff;
  font-size: 13px;
}
header .subnav div md-icon {
  color: #deb887;
  margin-right: 5px;
}
header .negro .nav-content .logo md-icon {
  color: #000 !important;
}
header .negro .nav-content .logo h1 {
  color: #000 !important;
}
header .negro .nav-content .md-button {
  margin: auto;
  color: #000 !important;
}
header .negro .nav-content .button-content {
  color: #000 !important;
}
header .nav {
  background-color: rgba(255,255,255,0);
  border-bottom: 1px solid #e6e6e6;
  margin: 0px;
  width: 100%;
  padding: 5px 0;
}
header .nav .nav-content .logo {
  display: flex;
}
header .nav .nav-content .logo md-icon {
  margin: inherit;
  color: #fff;
  cursor: pointer;
}
@media (min-width: 600px) {
  header .nav .nav-content .logo md-icon {
    height: 70px;
    width: 70px;
  }
}
@media (max-width: 600px) {
  header .nav .nav-content .logo md-icon {
    height: 40px;
    width: 40px;
  }
}
header .nav .nav-content .logo md-icon.conHover {
  transform: scale(0.9);
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
header .nav .nav-content .logo h1 {
  margin-right: 10px;
  color: #fff;
}
@media (max-width: 600px) {
  header .nav .nav-content .logo h1 {
    margin-left: 27px;
    text-align: center;
    font-size: 20px;
  }
}
header .nav .nav-content .button-content {
  display: flex;
}
@media (min-width: 600px) {
  header .nav .nav-content .button-content {
    height: 100px;
  }
}
@media (max-width: 600px) {
  header .nav .nav-content .button-content {
    height: 44px;
  }
}
header .nav .nav-content .button-content .md-button {
  margin: auto;
  color: #fff;
}
header .nav .nav-content .button-content .md-button.active {
  background-color: #fff;
  color: #000;
}
@media (min-width: 600px) {
  .mp {
    margin-top: 150px;
  }
}
@media (max-width: 600px) {
  .mp {
    margin-top: 100px;
  }
}
.principal {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.servicios .servicios-content md-grid-list {
  margin-top: 50px;
}
.servicios .servicios-content md-grid-list md-grid-tile {
  cursor: pointer;
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.servicios .servicios-content md-grid-list md-grid-tile.sinHover {
  background-color: #deb887;
}
.servicios .servicios-content md-grid-list md-grid-tile.conHover {
  background-color: #5d4329;
  transform: scale(0.9);
}
.servicios .servicios-content md-grid-list md-grid-tile md-icon {
  color: #fff;
  height: 60px;
  width: 60px;
}
.servicios .servicios-content md-grid-list md-grid-tile md-grid-tile-footer h2 {
  margin-left: 30px;
}
.home {
  min-height: calc(100vh - 270px);
}
.home section.main {
  padding: 200px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 600px) {
  .home section.main {
    padding: 100px 0 50px 0;
  }
}
.home section.main md-card {
  margin: 20px 0;
}
.home section.main h1 {
  color: #fff;
}
.home section.main .topicos-container {
  width: 100%;
}
.home section.main .topicos-container md-card {
  width: 100%;
  background-color: rgba(255,255,255,0.8);
}
.home section.main .topicos-container md-card md-list {
  padding: 0px;
}
.home section.main .topicos-container md-card md-list md-list-item {
  cursor: pointer;
  padding-right: 0px;
}
@media (min-width: 600px) {
  .home section.main .topicos-container md-card md-list md-list-item {
    min-height: 70px;
  }
}
@media (max-width: 600px) {
  .home section.main .topicos-container md-card md-list md-list-item {
    min-height: 100px;
  }
}
.home section.main .topicos-container md-card md-list md-list-item .md-button {
  padding-left: 16px !important;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 600px) {
  .home section.main .topicos-container md-card md-list md-list-item .md-button {
    min-height: 70px;
  }
}
@media (max-width: 600px) {
  .home section.main .topicos-container md-card md-list md-list-item .md-button {
    min-height: 100px;
  }
}
.home section.main .topicos-container md-card md-list md-list-item .md-button strong {
  line-height: 16px;
}
.home section.main .topicos-container md-card md-list md-list-item.conHover {
  background-color: #fff;
  -webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.home section.main .topicos-container md-card md-list md-list-item .md-secondary-container .icon {
  width: 70px;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  display: flex;
  background-color: #deb887;
}
@media (min-width: 600px) {
  .home section.main .topicos-container md-card md-list md-list-item .md-secondary-container .icon {
    min-height: 70px;
  }
}
@media (max-width: 600px) {
  .home section.main .topicos-container md-card md-list md-list-item .md-secondary-container .icon {
    min-height: 100px;
  }
}
.home section.main .topicos-container md-card md-list md-list-item .md-secondary-container .icon md-icon {
  margin: auto;
}
.home section.main .prospecto-content h3 {
  text-align: center;
}
.home section.main .prospecto-content form {
  margin: 0px;
}
.home section.main .prospecto-content form .md-button {
  margin: 0px;
  border-radius: 0px;
  background-color: #deb887;
}
.home section.info {
  background-color: #deb887;
  text-align: center;
}
.home section.info .content {
  color: #fff;
}
@media (min-width: 600px) {
  .home section.info .content {
    margin: 50px 0;
  }
}
@media (max-width: 600px) {
  .home section.info .content {
    margin: 10px 0;
  }
}
.home section.info .content .valor {
  min-height: 125px;
}
.home section.slogan {
  padding: 50px 0;
}
.home section.slogan .content .foto {
  display: flex;
}
.home section.slogan .content .foto img {
  margin: auto;
  height: 100px !important;
  width: 100px !important;
}
.home section.slogan .content .parrafo {
  padding: 15px;
}
.home section.slogan .content .parrafo p {
  text-align: justify;
}
.servicio .servicio-content h1 {
  color: #000;
}
@media (max-width: 600px) {
  .servicio .servicio-content md-list md-list-item {
    padding: 2px;
  }
}
.servicio .servicio-content md-list md-list-item md-icon {
  background-color: #deb887;
}
@media (min-width: 600px) {
  .servicio .servicio-content md-list md-list-item md-icon {
    margin: 0 50px !important;
  }
}
@media (max-width: 600px) {
  .servicio .servicio-content md-list md-list-item md-icon {
    margin: 2px;
  }
}
.nosotros md-icon {
  background-color: #000;
}
.nosotros .mapa {
  min-height: 350px;
}
@media (max-width: 600px) {
  .nosotros .mapa ui-gmap-google-map {
    height: 100%;
    width: 400px;
  }
  .nosotros .mapa ui-gmap-google-map .angular-google-map {
    width: 100%;
    height: 400px;
  }
  .nosotros .mapa ui-gmap-google-map .angular-google-map .angular-google-map-container {
    height: 250px;
    width: 100%;
  }
}
.paginacion {
  width: 100%;
}
.paginacion .first,
.paginacion .last {
  background-color: #deb887;
}
.paginacion .first md-icon,
.paginacion .last md-icon {
  color: #fff;
}
.paginacion .previous,
.paginacion .next {
  background-color: #5d4329;
}
.paginacion .md-button {
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
}
