.prospecto-content
    md-card
        form(ng-submit="nuevoProspecto(prospecto)" layout="column")
            h3 Proporcionanos tus datos para poder acceder a la respuesta de tu pregunta
            md-card-content(layout="column")
                md-input-container
                    label Nombre
                    input(ng-model="prospecto.nombre" required)
                md-input-container
                    label Apellido
                    input(ng-model="prospecto.apellido" required)
                md-input-container
                    label Correo
                    input(ng-model="prospecto.correo" required)
                md-input-container
                    label Teléfono
                    input(ng-model="prospecto.telefono" required)
            md-button(type="submit")
                md-icon done
