.abogados-content(layout="row")
    .info-content(flex="50")
        h1 Historia
        p {{abogado.historia}}
    .foto-content(flex="50")
        img(src="{{abogado.foto.imagen}}")
        h2 {{abogado.nombre}}
    
