.servicio.mp(layout="row" layout-align="center center")
    .servicio-content(flex="70" flex-xs="90" flex-sm="90")
        md-card
            md-card-content
                h1 {{servicio.nombre}}
                p(ng-bind-html="servicio.descripcion") 
                md-list
                    md-list-item(ng-repeat="subservicio in servicio.subservicios")
                        md-icon.md-avatar-icon(style="margin: 2px") keyboard_arrow_right
                        .md-list-item-text
                            p {{subservicio.nombre}}
